<{if $block.links}>
  <ul class="sc_menu">
    <{foreach item=l from=$block.links}>
      <li class="<{if $l.selected}>on<{else}>off<{/if}>"><a href="<{$l.uri}>"<{if $l.current}> style="font-weight: bold;"<{/if}>><{$l.title}></a>
	<{if $l.sub}>
	  <ul class="sc_sub">
	    <{foreach item=s from=$l.sub}>
	    <li><a href="<{$s.uri}>"<{if $s.current}> style="font-weight: bold;"<{/if}>><{$s.title}></a></li>
	    <{/foreach}>
	  </ul>
	<{/if}>
      </li>
    <{/foreach}>
  </ul>
<{/if}>
<{if $block.action && $xoops_isuser && $block.thispage}>
<form action="<{$block.action}>" method="post">
  <input type="hidden" name="active" value="1" />
  <input type="hidden" name="url" value="<{$block.thispage}>" />
  <input type="hidden" name="title" value="<{$xoops_pagetitle}>" />
  <input type="submit" value="<{$smarty.const._BL_SHORTCUT_MARK}>" />
</form>
<{/if}>
